@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}